.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

h3 {
  margin:0 0 20px 0;
}

.cash {
  position: relative;
  bottom:39px;
  left:122px;
}